body{
    background-color: black;
    border: none;
    padding: 0%;
    margin: 0%;
    height: auto;
}

div.content{
    color:  white;
    width: 99.5%;
    height: 1080px;

}
form.conteudo2{
    position: relative;
    top:  10%;
    left:  25%;
    padding: 0%;
    border: 1px solid white;
    width: 800px;
    height: 950px;
    border-radius: 10px;
}
h1.TEXT{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:  20px 0px 0px 15px;
}
h1.numero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    bottom: 63px;
    left: 70px;
}
h1.NOME-INPUT{
    border: none;
    margin: 22px 0px 0px 140px;
    font-size: 15px;
    width: 150px;
    height: 18px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1.TELEFONE{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    top: 28px;
    right: 230px;
    bottom: 0px;
    margin: 0px 0px 0px 0px;
}

h1.CEP{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    left: 52px;
    bottom: 24px;
    margin: 0px 0px 0px 0px;
}
h1.ESTADO{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    top: 20px;
    right: 235px;
    bottom: 0px;
    margin: 0px 0px 0px 0px;
}
h1.CIDADE{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    left: 65px;
    bottom: 30px;
    margin: 0px 0px 0px 0px;
}

h1.BAIRRO{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    top: 9px;
    right: 235px;
    bottom: 0px;
    margin: 0px 0px 0px 0px;
}
h1.senha{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none;
    right: 238px;
    bottom: 30px;
    margin: 0px 0px 0px 0px;
}
h1.confsenha{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    position:relative;
    align-items: center;
    border: none; 
    right: 194px;
    bottom: 12px;
    margin: 0px 0px 0px 0px;
}
 
input.EMP{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(65, 65, 65);
    text-align: start;
    font-size: 15px;
    margin: 10px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 520px;
    height: 30px;
    outline: none;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input.CNPJ{
    border: none;
    text-align: start;
    margin: 10px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 520px;
    height: 30px;
    outline: none;
    font-size: 15px;
}
input.EMAIL{
    border: none;
    text-align: start;
    margin: 10px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 520px;
    height: 30px;
    font-size: 15px;
    outline: none;
}
input.TELEFONE{
    position:relative;
    align-items: center;
    border: none;
    text-align: start;
    top: 30px;
    margin: 0px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 220px;
    height: 30px;
    font-size: 15px;
    outline: none;
}
 
input.CEP{
    position:relative;
    align-items: center;
    border: none;
    text-align: start;
    bottom: 23px;
    margin: 0px 0px 0px 440px;
    padding: 2px 2px 2px 2px;
    width: 220px;
    height: 30px;
    font-size: 15px;
    outline: none;
}
input.ESTADO{
    position:relative;
    align-items: center;
    border: none;
    text-align: start;
    top: 22px;
    margin: 0px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 220px;
    height: 30px;
    font-size: 15px;
    outline: none;
}
input.CIDADE{
    position:relative;
    align-items: center;
    border: none;
    text-align: start;
    bottom: 30px;
    font-size: 15px;
    margin: 0px 0px 0px 440px;
    padding: 2px 2px 2px 2px;
    width: 220px;
    height: 30px;
    outline: none;
}
input.BAIRRO{
    border: none;
    text-align: start;
    margin: 10px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 220px;
    height: 30px;
    font-size: 15px;
    outline: none;
}
input.NUMERO{
    position:relative;
    align-items: center;
    border: none;
    text-align: start;
    bottom: 73px;
    margin: 0px 0px 0px 440px;
    padding: 2px 2px 2px 2px;
    width: 220px;
    height: 30px;
}
input.SENHA{
    position:relative;
    bottom: 40px;
    border: none;
    text-align: start;
    height: 30px;
    margin:  10px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 520px;   
    outline: none;
    font-size: 15px;

}
input.CONFSENHA{
    position:relative;
    bottom: 20px;
    border: none;
    text-align: start;
    margin:  10px 0px 0px 139px;
    padding: 2px 2px 2px 2px;
    width: 520px;   
    border-style: none;
    height: 30px;
    font-size: 15px;
    outline: none;
}
 
button.boton{
    width: 120px;
    height: 40px;
    margin: 25px 0px 0px 339px;
    border: none;
    background-color: goldenrod;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
}