body{
    background-color: black;
    margin: 0%;
    width: 100%;
    height: 100%;
    }
    .home-1{
        border: none;
        margin: 0;
        background-color: black;
    }
    img.escrita{
        position: relative;
        top: 0%;
        left: 5%;
        width: 8%;
        border-radius: 50%; 
        box-shadow: 0.1em 0em 1em 0.2em  rgb(37, 37, 37); 
        margin: 2% 0% 2% 0%;
    }
    img.carrinho{
        margin-bottom: 0;
        position: absolute;
        top: 24% !important;
        left: 89%;
        width: 3.2%;
        bottom: 2%;
    }
    a.cadastrar{
        margin: 0%;
        position: absolute;
        top: 22% !important;
        left: 75.5%;
        width: 8%;
        bottom: 2%;
        height: 3%;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        
    }
    a.login{
        margin-bottom: 0;
        position: absolute;
        top: 39.5% !important;
        left: 75.8%;
        width: 10%;
        bottom: 2%;
        height: 3%;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    a.ou{
        margin-bottom: 0;
        position: absolute;
        top: 30.5% !important;
        left: 77.8%;
        width: 10%;
        bottom: 2%;
        height: 3%;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    img.LOGIN{
        border-radius: 60%;
        box-shadow: 0.1em 0.1em 1em 0.1em  rgb(37, 37, 37); 
        margin-bottom: 0;
        position: absolute;
        top: 20.5% !important;
        left: 82%;
        width: 4.5%;
        bottom: 2%;
        transition: 0.2s;
        
    }
    img.LOGIN:hover{
        box-shadow: 0.1em 0.1em 1em 0.1em  rgb(77, 77, 77);


    }
    footer.superior{
        background-color: rgb(54, 54, 54);
        color: white;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        width: 100%;
        height: 31%;
        box-shadow: 0em 0.2em rgb(97, 97, 97);
        position: relative;
    
    }
    input.pesquisa{
        position: absolute;
        border: 1px solid white;    
        border: none;
        background-color: black;
        outline: none;
        border: none;
        border-radius: 8px 0px;
        padding: 8px 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        width: 50%;
        top: 28%;
        left: 18%;
        height: 10%;
        box-shadow: 0.1em 0em 1em 0.2em  rgb(37, 37, 37);    
    }
    .flex {
        display: flex;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .flex-item-1 {
        flex: 1;
    }
    
    /* Buttons */
    a.button-1{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        text-align: center;
        padding: 1.9% 23.4%;
        color: white;
        text-decoration: none;
    }
    a.button-1:hover{
        background-color: rgb(54, 54, 54);
    }
    a.button-2{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        padding: 1.9% 18.8%;
        text-decoration: none;
        color: white;
    
    }
    a.button-2:hover{
        background-color: rgb(54, 54, 54);
    }
    a.button-3{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        padding: 1.9% 22%;
        text-decoration: none;
        color:white;
    }
    a.button-3:hover{
        background-color: rgb(54, 54, 54);
    }
    a.button-4{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        padding: 1.9% 16.4%;
        text-decoration: none;
        color: white;
    }
    a.button-4:hover{
        background-color: rgb(54, 54, 54);
    }
    
    a.button-5{
            background-color: rgb(0, 0, 0);
            transition: 0.2s;
            padding: 1.9% 18.8%;
            text-decoration: none;
            color: white;
    }
    a.button-5:hover{
        background-color: rgb(54, 54, 54);
    }
    /* Flex Item */
    .item{
        margin-right: 0px;
        width: 14%;
        background: black;
        text-align: center;
        font-size: 1.4em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-items: center;
    }
    .container {
        max-width: 2000px;
        margin: 0 auto;
        border: 4px solid black;
        background-color: black;
        justify-content: center;
        list-style-type: none;
        align-items: center;
    
    }