body{
    background-color: black;
    margin: 0%;
    width: 100%;
    height: 100%;
    }

    .home-1{
        border: none;
        margin: 0;
        background-color: black;
    }
    img.escrita{
        top: 0%;
        width: 8%;
        border-radius: 50%; 
        box-shadow: 0.1em 0em 1em 0.2em  rgb(37, 37, 37); 
        margin: 0% 0% 2% 4%;
    }
    img.carrinho{
        margin-bottom: 0;     
        width: 5%;
        margin: 0% 5% 2% 0%;
    
    }
    a.login{
        width: 9%;
        height: 3%;
        color: rgb(255, 255, 255);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        font-size: 100%;
        margin: 0% 0% 2% 10%;
    }
    img.LOGIN{
        border-radius: 60%;
        box-shadow: 0.1em 0.1em 1em 0.1em  rgb(37, 37, 37); 
        margin: 0% 0% 2% 0%;
        width: 6%;
        transition: 0.2s;
        
    }
    img.LOGIN:hover{
        box-shadow: 0.1em 0.1em 1em 0.1em  rgb(77, 77, 77);
    }
    .superior{
        background-color: rgb(37, 37, 37);
        color: white;
        box-shadow: 0em 0.2em rgb(97, 97, 97);
    
    }
    .foot{
        margin: 0% 0% 0% 0%;
        padding: 1% 0% 0% 1%;
        display: flex;
        align-items: center;

    }
    input.pesquisa{
        border: 1px solid white;    
        border: none;
        background-color: black;
        outline: none;
        margin: 0 0 3% 5%;
        border-radius: 8px 0px;
        padding: 8px 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        width: 60%;
        height: 6%;
        box-shadow: 0.1em 0em 1em 0.2em  rgb(37, 37, 37);    
    }
    .flex {
        display: flex;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .flex-item-1 {
        flex: 1;
    }
    
    /* Buttons */
    a.button-1{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        text-align: center;
        padding: 1.9% 34.4%;
        color: white;
        text-decoration: none;
    }
    a.button-1:hover{
        background-color: rgb(54, 54, 54);
    }
    a.button-2{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        padding: 1.9% 22.8%;
        text-decoration: none;
        color: white;
    
    }
    a.button-2:hover{
        background-color: rgb(54, 54, 54);
    }
    a.button-3{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        padding: 1.9% 22%;
        text-decoration: none;
        color:white;
    }
    a.button-3:hover{
        background-color: rgb(54, 54, 54);
    }
    a.button-4{
        background-color: rgb(0, 0, 0);
        transition: 0.2s;
        padding: 1.9% 16.4%;
        text-decoration: none;
        color: white;
    }
    a.button-4:hover{
        background-color: rgb(54, 54, 54);
    }
    
    a.button-5{
            background-color: rgb(0, 0, 0);
            transition: 0.2s;
            padding: 1.9% 18.8%;
            text-decoration: none;
            color: white;
    }
    a.button-5:hover{
        background-color: rgb(54, 54, 54);
    }
    /* Flex Item */
    .item{
        width: 14%;
        background: black;
        text-align: center;
        font-size: 1.4em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-items: center;
    }
    .container {
        height: auto;
        width: 100%;
        margin: 0% auto;
        border: 4px solid black;
        background-color: black;
        justify-content: center;
        list-style-type: none;
        align-items: center;
    }
    a.nome-carrinho{
        text-decoration: none;
        margin: 0% 0% 2% 2%;
        font-size: 90%;
        width: 8%;
        border: none;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }