body{
    background-color: black;
    margin: 0%;
    width: 100%;
    height: auto;
    }
    .home-1{
        border: none;
        margin: 0;
        background-color: black;
    }
    div.conteudo{
        background-color: black;
        padding: 0% 0% 0% 0%;
        width: 99.5%;
        display: flex;
        margin: 0.2%;
        height: 1078px;
    
    }
        .stretch {
        align-items: stretch;
    }
    
    .flex-start {
        align-items: flex-start;
    }
    
    .flex-end {
        align-items: flex-end;
    }
    
    .center {
        align-items: center;
    }
    
    .baseline {
        align-items: baseline;
    }
    
    /* Flex Container */
    .container1 {
        max-width: 100%;
        min-height: 30%;
        display: flex;
        border: none;
        background-color: rgb(14, 14, 14);
        list-style-type: none;
    }
    
    .column1 {
        flex-direction: column;
    }
    
    /* Flex Item */
    .item1 {
        flex: 1;
        margin: 2% 1% 1% 1%;
        padding: 0px;
        background: white;
        text-align: center;
        font-size: 1.5em;
        border-radius: 4px;
        transition: 0.2s;
        border: 0px;
        list-style-type: none;
    }
    .item1:hover{
        box-shadow: 0em 0em 1em 0.1em  rgb(75, 75, 75);
    
    }
    .item1:first-child {
        padding-top: 0px;
    }
    .alinhamento-central {
        height: 400px;
        justify-content: center;
        align-items: center;
    }
    
    .alinhamento-central .item1 {
        flex: 0;
        padding: 10px;
    }
    a.produtos{
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        width: 40%;
        padding: 0.5% 86.5% 0.5% 1%;
        height: 15%;
        border: none;
        background-color: white;
        margin: 0 0 0 1%;
     
    }

    div.conteudo2{
        margin: 2% 0% 0% 5%;
        width: 60%;
        padding: 2% 2% 2% 2%;
        height: 90%;
        background-color: rgb(14, 14, 14);
        list-style-type: none;
    }
    img.carvao{
        width: 80%;
        height: auto;
    }
    .barra-lateral{
        width: 15%;
        margin: 2% 0 0 2%;
        background-color: white;
        height: 100%;
    }
    .product{
        background-color: green;
        margin: 10% 0 0 0;
        font-size: 70%;
        border: none;
        padding: 2% 0% 2% 1%;
        width: 100%;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition-duration: 0.2s;
    }
    .product:hover{
        background-color: black;
        color: white;

    }
    .icon-carro{
        float: left;
        margin: 0% 0% 0% 20% ;
        padding: 0%;
        width: 20%;
        height: 20%;
    }
    h1.comp{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 70%;
        margin: 7% 0 0 20%;
        width: 50%; 
        height: 2%;
        text-align: center;
    }